{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block content %}

<h1 style="color: blueviolet;">{{ post.title }}</h1>
<img src="{{ post.image.url }}" alt="Description of the image" width="400" height="400">
<p>{{ post.content }}</p>
</br>
<h4>Add a comment</h4>
<form action="" method="post">{% csrf_token %}
    {{ form|crispy }}
    <button class="btn btn-success ml-2" type="submit">Save</button>
</form>
<hr>
<h4>Comments</h4>
{% for comment in post.comment_set.all %}
<p>{{ comment.author }} &middot; {{ comment }}</p>
{% endfor %}
<hr>


{% endblock content %}