{% load static %}

<!DOCTYPE html>
<html>

<head>


  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>

  <link rel="stylesheet" type="text/css" href="{% static 'css/test.css' %}">


  <header>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03"
          aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="{% url 'website:home' %}">Home</a>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'blog:all_post' %}">Blog</a>
            </li>
            {% if request.user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'blog:new_post' %}">New Post</a>
            </li>
            {% endif %}
            <li class="nav-item">
              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
          </ul>
          <div class="d-flex">
            {% if  not  request.user.is_authenticated %}
             <a href="{% url 'signup' %}"> <button class="btn btn-outline-success me-2" >Sign Up</button></a>
             <a href="{% url 'login' %}"><button class="btn btn-outline-primary" >login</button></a>
            {% else %}
            <span  class="btn btn-outline-dark me-2">{{request.user}}</span>

              <a href="{% url 'logout' %}" class="btn btn-outline-danger">Logout</a> 
            {% endif %}
          </div>
        </div>
      </div>
    </nav>
    


  </header>

  <title>My Project</title>

</head>

<body>
</body>
</br>
</br>
</br>

{% block content %}{% endblock content %}
</body>

</html>